@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img {
  filter: drop-shadow(0 0 0.1rem rgb(56, 55, 55)) !important;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #acb5b3;
  display: flex;
  justify-content: space-between;
  color: white;
  min-height: 100vh;
}

.container {
  position: relative;
  margin: 0 auto;
  min-width: 100vh;
  text-align: center;
}

.content {
  position: relative;
  text-align: center;
  padding-top: 10rem;
  transition: 0.4s all ease;
}

.content__title h1 {
  text-align: center;
}

.content__details img {
  position: relative;
  margin-top: 1rem;
  height: 400px;
  filter: drop-shadow(0 0 0.2rem rgb(56, 55, 55)) !important;
}


.logo img {
  position: absolute;
  padding: 1rem;
  margin: 1rem;
  height: 100px;
  width: 120px;
}

.nav {
  position: absolute;
  height: 100vh !important;
  transition: 0.4s all ease;
}

.close {
  right: -360px;
}

.open {
  right: 0;
}

/* side bar menu */
.menu {
  transition: 0.4s all ease;
  width: 360px;
  text-align: center;
  min-height: 100%;
  background: #8e0e00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1f1c18, #8e0e00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1f1c18, #8e0e00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu__items li {
  transition: 0.4s all ease;
  list-style: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 2rem;
  padding: 2rem;
}

.menu__items li:hover {
  cursor: pointer;
  background-color: rgb(36, 2, 2);
}

.contact {
  margin-top: 4rem;
}

.contact a {
  color: white;
  margin: 1rem;
}

.contact a:hover {
  cursor: pointer;
  color: red;
}

/* hamburger button */
.hamburger {
  transition: 0.4s all ease;
  position: absolute;
  top: 50px;
  right: 1rem;
  width: 100px;
  height: 100px;
  z-index: 9999;
}

.hamburger span {
  position: relative;
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 0.3rem;
  background: #aa0e0e;
  border-radius: 2px;
  top: 10px;
  transition: 0.4s all ease;
}

.shift__content {
  margin-right: 20rem;
}

.shift__hamburger__menu {
  right: 20rem;
}

.hamburger span:hover {
  cursor: pointer;
}

.change.first__bar {
  top: 1.9rem;
  transform: rotate(45deg);
  transition: 0.4s all ease;
}

.change.second__bar {
  opacity: 0;
  transition: 0.4s all ease;
}

.change.third__bar {
  transform: rotate(-45deg);
  transition: 0.4s all ease;
}

/* colors dots */
.dots {
  display: flex;
  justify-content: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: seashell;
  filter: drop-shadow(0 0 0.3rem rgb(51, 50, 50));
  margin: 0.5rem;
}

.dot {
  cursor: pointer;
}

.white {
  background-color: #fff;
}

.red {
  background-color: darkred;
}

.grey {
  background-color: dimgray;
}

/* WHEELS SECTION */

.wheel__container img {
  transition: 0.4s all ease;
  width: 200px;
  height: 200px;
  padding: 1rem;
}

.wheel__container img:hover {
  cursor: pointer;
  width: 210px;
  height: 210px;
}

.wheel__container {
  position: relative;
  margin: 3rem auto;
}

.wheels {
  text-align: center;
  display: flex;
  justify-content: space-between;
}


/* Modal */

/*** modal styles ***/
.modal_1,
.modal_2,
.modal_3,
.modal_4,
.modal_5,
.modal_6 {
  display: none;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 0px;
  color: #000;
}

.modal__content {
  background: #f0f3f6;
  width: 80%;
  max-width: 640px;
  margin: 2rem auto;
  border-radius: 4px;
  padding: 2rem 2rem;
  position: relative;
  animation: 0.3s slideDown;
  font-family: 'Audiowide', cursive;

}

.open__modal {
  display: block;
}

.close__modal {
  position: absolute;
  color: #000;
  top: 0px;
  left: 10px;
  font-size: 4rem;
  background: transparent;
  border: 0;
  outline: 0;
}

.close__modal:hover {
  cursor: pointer;
}

.modal__body {
  padding: 1rem;
  text-align: center;
  color: #6b6766;
  line-height: 2rem;
}

.modal__body img {
  width: 370px;
  height: 370px;
  filter: drop-shadow(0 0 0.3rem rgb(10, 10, 10));
}

.price {
  font-size: 3rem;
}

/*** form styles ***/
.form {
  margin-top: 2rem;
}

.form__submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  font-size: 1.4rem;
  color: #eee;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  outline: 0;
}
.form__submit:hover {
  cursor: pointer;
  opacity: .8;
  color: #1f1c18;
}


/* animation */
.scale-in-ver-bottom-1 {
  -webkit-animation: scale-in-ver-bottom .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-ver-bottom-2 {
  -webkit-animation: scale-in-ver-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: .3s;
}

.scale-in-ver-bottom-3 {
  -webkit-animation: scale-in-ver-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: .5s;
}

.scale-in-ver-bottom-4 {
  -webkit-animation: scale-in-ver-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: .6s;
}

.scale-in-ver-bottom-5 {
  -webkit-animation: scale-in-ver-bottom .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: .7s;
}

.scale-in-ver-bottom-6 {
  -webkit-animation: scale-in-ver-bottom .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: .8s;
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left .4s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-left .4s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}